.appInputWrapper {
  display: flex;
}

.placeholder {
  margin-right: 5px;
  color: var(--primary-color);
}

.appInput {
  border: none;
  border-bottom: 1px solid var(--primary-color);
  background: none;
  outline: none;
  color: var(--primary-color);
}

.readOnly {
  opacity: 0.7;
}
