:root {
  --font-family-main: consolas, "Times New Roman", serif;
  --font-family-text-redesigned: 'Nunito Sans', sans-serif;
  --font-family-header-redesigned: 'Roboto', sans-serif;

  /* s */
  --font-line-s: 20px;
  --font-z-s: 12px;
  --font-s: var(--font-z-s) / var(--font-line-s)
    var(--font-family-main);

  /* m */
  --font-line-m: 24px;
  --font-z-m: 16px;
  --font-m: var(--font-z-m) / var(--font-line-m)
    var(--font-family-main);

  /* l */
  --font-line-l: 32px;
  --font-z-l: 24px;
  --font-l: var(--font-z-l) / var(--font-line-l)
    var(--font-family-main);

  /* xl */
  --font-line-xl: 40px;
  --font-z-xl: 32px;
  --font-xl: var(--font-z-xl) / var(--font-line-xl)
    var(--font-family-main);

  /* Transition delay */
  --transition-delay: 0.3s;

  /* Opacity */
  --opacity70: 0.7;
  --opacity50: 0.5;

  /* Sizes */
  --navbar-height: 50px;
  --sidebar-width: 300px;
  --sidebar-width-collapsed: 80px;

  /* z-index */
  --modal-z-index: 1000;
  --overlay-z-index: 100;

  /* Colors */
  --overlay-color: rgba(0 0 0 / 60%);
  --red-light: #f00;
  --red-dark: #ce0505;


  
    // redesigned

    // s
    --font-s-redesigned: var(--font-size-s) / var(--font-line-s) var(--font-family-text-redesigned);

    // m
    --font-m-redesigned: var(--font-size-m) / var(--font-line-m) var(--font-family-text-redesigned);

    // l
    --font-l-redesigned: var(--font-size-l) / var(--font-line-l) var(--font-family-header-redesigned);

    // xl
    --font-xl-redesigned: var(--font-size-xl) / var(--font-line-xl) var(--font-family-header-redesigned);
  }

