.listBox {
  position: relative;
  width: fit-content;
}

.trigger {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

.optionList {
  width: fit-content;
  position: absolute;
  z-index: 10000;
  background: var(--dark-bg-redesigned);
  border-radius: 12px;
  box-shadow: 4px 4px 8px var(--list-bg);
}

.optionItem {
  padding: 10px 20px;
  border-radius: 12px;
}

.active {
  background: var(--light-bg-redesigned);
}

.disabled {
  opacity: 0.7;
}

.optionListTopLeft {
  right: 0;
  bottom: 100%;
}

.optionListTopRight {
  left: 0;
  bottom: 100%;
}

.optionListBottomLeft {
  right: 0;
  top: 100%;
}

.optionListBottomRight {
  left: 0;
  top: 100%;
}

.selected {
  background: var(--light-bg-redesigned);
}