.appSelectWrapper {
  display: flex;
}

.label {
  margin-right: 5px;
}

.appSelect {
  background: none;
  outline: none;
  padding: 2px 10px 2px 2px;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.option {
  color: var(--inverted-primary-color);
  background: var(--inverted-bg-color);
}

.readOnly {
  opacity: 0.7;
}
