.listBox {
  position: relative;
}

.trigger {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

.optionList {
  position: absolute;
  right: 0;
  z-index: 10000;
  background: var(--list-bg);
  border-radius: 12px;
  box-shadow: 4px 4px 8px var(--list-bg);
}

.optionItem {
  padding: 10px 20px;
  border-radius: 12px;
}

.active {
  background: var(--inverted-primary-color);
}

.disabled {
  opacity: 0.7;
}

.optionListTop {
  bottom: 100%;
}
