.appButton {
  cursor: pointer;
  padding: 6px 15px;
  transition: 0.2s linear;
  &:hover {
    transition: 0.2s linear;
    opacity: var(--opacity);
    fill-opacity: var(--opacity);
    stroke-opacity: var(--opacity);
  }
}

.clear,
.clearInverted {
  padding: 0;
  border: none;
  background: none;
  outline: none;
  color: var(--primary-color);
}

.clearInverted {
  color: var(--inverted-primary-color);
}

.outline {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background: none;
}

.outline_red {
  border: 1px solid var(--red-dark);
  color: var(--red-dark);
  background: none;
}

.background {
  background: var(--bg-color);
  color: var(--primary-color);
  border: none;
  outline: none;
}

.backgroundInverted {
  background: var(--inverted-bg-color);
  color: var(--inverted-secondary-color);
  border: none;
  outline: none;
}

.square {
  padding: 0;
}

.square.m {
  height: var(--font-line-m);
  width: var(--font-line-m);
  font: var(--font-m);
}

.square.l {
  height: var(--font-line-l);
  width: var(--font-line-l);
  font: var(--font-l);
}

.square.xl {
  height: var(--font-line-xl);
  width: var(--font-line-xl);
  font: var(--font-xl);
}

.disabled {
  opacity: 0.3;
  cursor: auto;
}
