.popup {
  position: relative;
  width: fit-content;
}

.trigger {
  background: none;
  outline: none;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
}

.active {
  background: var(--inverted-primary-color);
}

.disabled {
  opacity: 0.7;
}

.optionListTopLeft {
  right: 0;
  bottom: 100%;
}

.optionListTopRight {
  left: 0;
  bottom: 100%;
}

.optionListBottomLeft {
  right: 0;
  top: 100%;
}

.optionListBottomRight {
  left: 0;
  top: 100%;
}
