


.addonLeft, .addonRight {
  display: flex;
}

.addonRight svg, .addonLeft svg {
  color: var(--hint-redesigned);
}

.appButton {
  color: var(--text-redesigned);
  cursor: pointer;
  padding: 6px 15px;
  transition: 0.2s linear;
  width: fit-content;
  display: flex;
  align-items: center;


  &:hover {
    color: var(--accent-redesigned);

    .addonLeft svg, .addonRight svg {
        color: var(--accent-redesigned);
    }
}
}

.withAddon {
  padding: 0 16px;
}

.clear {
  padding: 0;
  border: none;
  background: none;
  outline: none;
  color: var(--text-redesigned);
}


.outline {
  border: 1px solid var(--icon-redesigned);
  border-radius: 34px;
  background: none;

  &:hover {
  border: 1px solid var(--accent-redesigned);

  }

  &.normal {
    border: 1px solid var(--icon-redesigned);
  }

  &.error {
    border: 1px solid var(--cancel-redesigned);
  }

  &.succes {
    border: 1px solid var(--save-redesigned);
  }
}

.filled {
  border: none;
  outline: none;
  background: var(--light-bg-redesigned);
  border-radius: 34px;
}

.square {
  padding: 0;
}

.square.m {
  height: var(--font-line-m);
  width: var(--font-line-m);
  font: var(--font-m-redesigned);
}

.square.l {
  height: var(--font-line-l);
  width: var(--font-line-l);
  font: var(--font-l-redesigned);
}

.square.xl {
  height: var(--font-line-xl);
  width: var(--font-line-xl);
  font: var(--font-xl-redesigned);
}

.disabled {
  opacity: 0.3;
  cursor: auto;
}

.fullWidth {
  width: 100%;
}
