.appNavLink {
  padding: 0;
  margin: 0;
  color: var(--text-redesigned);
width: 100%;

  &:hover {
    color: var(--accent-redesigned);

  }
}

.red {
  color: var(--cancel-redesigned);

  &:hover {
    opacity: var(--opacity70);
  }
}


// .primary {
//   color: var(--inverted-secondary-color);
// }

// .secondary {
//   color: var(--inverted-secondary-color);
// }

// .primary.active {
//   color: var(--inverted-secondary-color);
// }

// .secondary.active {
//   color: var(--inverted-secondary-color);
// }

// .appNavLink .red {
//   color: var(--red-dark);
// }
