.appNavLink {
  padding: 0;
  margin: 0;
  color: var(--text-redesigned);
width: 100%;

  &:hover {
    color: var(--accent-redesigned);

  }
}

.red {
  color: var(--cancel-redesigned);

  &:hover {
    opacity: var(--opacity70);
  }
}

.active {
  background:linear-gradient(89.97deg, rgb(94 211 243 / 30%) 1.15%, rgb(94 211 243 / 0%) 99.97%);
  position: relative;

  &::before {
      content: "";
      position: absolute;
      width: 2px;
      left: 0;
      background: var(--accent-redesigned);
      height: 100%;
  }
}


// .primary {
//   color: var(--inverted-secondary-color);
// }

// .secondary {
//   color: var(--inverted-secondary-color);
// }

// .primary.active {
//   color: var(--inverted-secondary-color);
// }

// .secondary.active {
//   color: var(--inverted-secondary-color);
// }

// .appNavLink .red {
//   color: var(--red-dark);
// }
