.navbar {
  width: 100%;
  background: var(--inverted-bg-color);
  height: var(--navbar-height);
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.logo {
  color: var(--inverted-primary-color);
  width: var(--sidebar-width);
  margin-left: 15px;
}

.modal {
  margin-left: auto;

}
