.appNavLink {
  text-decoration: none;
  transition: var(--transition-delay);
  padding-bottom: 5px;
}

.primary {
  color: var(--inverted-secondary-color);
}
.secondary {
  color: var(--inverted-secondary-color);
}

.primary.active {
  color: var(--inverted-secondary-color);
}
.secondary.active {
  color: var(--inverted-secondary--color);
}

.appNavLink:hover {
  transition: var(--transition-delay);
  color: var(--inverted-primary-color);
  fill: var(--inverted-primary-color);
}

.red {
  color: var(--red-dark);
}
